@font-face {
  font-family: 'Fugue Tails';
  src: inline('../fonts/fugue-tails.woff');
}

@font-face {
  font-family: 'Fira Mono';
  src: inline('../fonts/fira-mono-regular.woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: bold;
  src: inline('../fonts/fira-sans-extra-bold.woff');
}

@font-face {
  font-family: 'Lyno Walt';
  src: inline('../fonts/lyno-walt.otf');
}
