@define-mixin respond-to $media {
  @if $media == mob {
    @media only screen and (max-width: 736px) {
      html.is__mobile & { @mixin-content; }
    }
  } @if $media == mobh {
    @media only screen and (max-width: 736px) {
      html.is__mobile.is__horizontal & { @mixin-content; }
    }
  } @if $media == mobv {
    @media only screen and (max-width: 736px) {
      html.is__mobile:not(.is__horizontal) & { @mixin-content; }
    }
  } @else if $media == tab {
    html.is__mobile & { @mixin-content; }
  } @else if $media == tabh {
    @media only screen and (min-width: 736px) {
      html.is__mobile.is__horizontal & { @mixin-content; }
    }
  } @else if $media == desk {
    @media only screen and (max-width: 1200px) { @mixin-content; }
  } @else {
    @media only screen and (max-width: $media) { @mixin-content; }
  }
}

@define-mixin cursor $cursor: cursor {
  cursor: url(../images/$cursor.png) 9 9, auto;
}

@define-mixin scrollbar {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 2vw;
    background: #eee;
  }

  &::-webkit-scrollbar-thumb {
    border: solid #eee;
    border-width: 0 .3vw;
    background: $color-accent;
  }

  &::-webkit-scrollbar-button {
    display: block;
    height: 2vw;
    background: url(../images/arrow.png) no-repeat center / 50% auto;

    &:decrement {
      background-image: url(../images/arrow-back.png);

      &:end {
        display: none;
      }
    }

    &:increment {
      &:start {
        display: none;
      }
    }
  }
}

@define-mixin outline $outline-width, $color {
  // text-shadow:
  //   0 -$outline-width $color,
  //   0 $outline-width $color,
  //   -$outline-width 0 $color,
  //   $outline-width 0 $color,
  //   -$outline-width -$outline-width $color,
  //   -$outline-width $outline-width $color,
  //   $outline-width -$outline-width $color,
  //   $outline-width $outline-width $color;
  transform: translateZ(0);
  -webkit-text-stroke: $outline-width $color;
  -moz-text-stroke: $outline-width $color;
  text-stroke: $outline-width $color;
}
