$font-base: Arial, sans-serif;
$font-main: 'Fira Mono', $font-base;
$font-alt: 'Fugue Tails', $font-base;
$font-logo: 'Fira Sans', $font-base;
$font-accent: 'Lyno Walt';

$color-accent: #e43035;

$d: .2s;

$padding: 3%;
