.back {
  top: 3vw;
  left: 3%;
  display: block;
  padding: 0;
  width: 5vw;
  height: 5vw;
  border: 0;
  text-indent: -1000em;
  background: url(../images/back.svg);
  background-repeat: no-repeat;
  transition: filter $d;

  @mixin respond-to tab {
    top: 20px;
    left: 20px;
    width: 4.5rem;
    height: 1.5rem;
  }

  @mixin respond-to mob {
    width: 3rem;
    height: 1rem;
  }

  &.is__main {
    position: fixed;
    z-index: 1;

    body.is__faded & {
      pointer-events: none;
      filter: blur(10px);

      @mixin respond-to tab {
        display: none;
        filter: none;
      }
    }
  }
}
