html {
  font-size: 1vw;
  opacity: 0;

  &.is__mobile {
    font-size: 20px;
  }

  &.is__ready {
    opacity: 1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background: $color-accent;
}


body {
  @mixin cursor;
  position: relative;
  overflow-x: hidden;
  padding: $padding;
  width: 100vw;
  font: 1.5rem $font-main;

  &.has__popup {
    &::after {
      @mixin cursor cross;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      content: '';
    }
  }

  &.is__mobile {
    font-size: 1rem;
  }

  &.is__faded {
    overflow: hidden;
  }
}

a {
  @mixin cursor pointer;
}

a[href^="tel"] {
  border-bottom: 2px solid;
  text-decoration: none !important;
  color: inherit !important;
}

h2 {
  margin-top: 1.5em;
  font-weight: normal;

  &:first-child {
    margin-top: 0;
  }
}

.slick-slide img{
  width: 100%;
}
.slick-prev{
  left: 10px !important;
}
.slick-next{
  right: 10px !important;
}
.slick-prev.slick-arrow,
.slick-next.slick-arrow{
    width: 3rem;
    height: 2rem;
    top: auto;
    bottom: -55px;
    z-index: 100;
    opacity: 1;
}
.slick-prev:before{
    content: ' ' !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    content: '';
    opacity: 1 !important;
    transform: rotate(180deg);
}
.slick-prev:active:before {
  background-image: url(../images/arrow-right-active.svg);
  
}
.slick-next:before{
    content: ' ' !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    content: '';
    opacity: 1 !important;
}
.slick-next:active:before{
  background-image: url(../images/arrow-right-active.svg);
}
.project.is__opened .slick-track{
  width: 100% !important;
}
.custom-lang-sw {
  width: 300px;
  float: right;
  text-align: right;
  color: #000;
}
 .custom-lang-sw .wpml-ls-legacy-list-horizontal a{
  font-size: 18px;  
 }
.custom-lang-sw .wpml-ls-legacy-list-horizontal .wpml-ls-item-ru.wpml-ls-current-language a{
  &:before{
    content:'';
    position: relative;
    width: 30px;
    height: 30px;
    background: url(../../build/images/ru.svg) no-repeat center center; 
    display: block;
  };
}
.custom-lang-sw .wpml-ls-legacy-list-horizontal .wpml-ls-item-en.wpml-ls-current-language a{
  &:before{
    content:'';
    position: relative;
    width: 38px;
    height: 30px;
    background: url(../../build/images/eng.svg) no-repeat center center; 
    display: block;
  };
}
.custom-lang-sw .wpml-ls-legacy-list-horizontal .wpml-ls-item-ru a{
  &:before{
    content:'';
    position: relative;
    width: 30px;
    height: 30px;
    background: url(../../build/images/ru_no.svg) no-repeat center center; 
    display: block;
  };
}
.custom-lang-sw .wpml-ls-legacy-list-horizontal .wpml-ls-item-en a{
  &:before{
    content:'';
    position: relative;
    width: 38px;
    height: 30px;
    background: url(../../build/images/eng_no.svg) no-repeat center center; 
    display: block;
  };
}

.custom-lang-sw .wpml-ls-legacy-list-horizontal a img{
 display: none;
}


.custom-lang-sw .wpml-ls-legacy-list-horizontal{
    padding: 0px;
}
/*.custom-lang-sw .wpml-ls-legacy-list-horizontal a{
    color: #000;    
    width: 38px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    margin-left: 10px;
}*/
.menu-item{
  font-size: 0;
  color: transparent;
}
.wpml-ls-legacy-list-horizontal a span{
  text-transform: lowercase;
}
@media (max-width: 782px){
  .custom-lang-sw {
    width: 210px;
  }
  .custom-lang-sw .wpml-ls-legacy-list-horizontal a{
    padding: 0 4px;
  }
  .custom-lang-sw ul{
    line-height: 14px;
  }
}

.team-carousel,
.partner-carousel{
  img{
    width: 140px;
    margin-right: 2px;
    display: block;
    float: left;
  }
}