.card {
  display: block;
  width: 30%;
  text-decoration: none;

  @mixin respond-to tab {
    width: auto;
  }

  &:nth-child(12n + 1) {
    margin-left: 66%;
  }

  &:nth-child(12n + 2) {
    margin-top: -8%;
    margin-left: 10%;
  }

  &:nth-child(12n + 3) {
    margin-left: 20%;
  }

  &:nth-child(12n + 4) {
    margin-top: -5%;
    margin-left: 55%;
  }

  &:nth-child(12n + 5) {
    margin-top: -2%;
  }

  &:nth-child(12n + 6) {
    margin-left: 23%;
  }

  &:nth-child(12n + 7) {
    margin-top: -20%;
    margin-left: 60%;
  }

  &:nth-child(12n + 8) {
    margin-top: 3%;
    margin-left: 65%;
  }

  &:nth-child(12n + 9) {
    margin-top: -3%;
    margin-left: 28%;
  }

  &:nth-child(12n + 10) {
    margin-top: 2%;
    margin-left: 2%;
  }

  &:nth-child(12n + 11) {
    margin-top: -2%;
    margin-left: 74%;
  }

  &:nth-child(12n) {
    margin-left: 40%;
  }

  &.card {
    @mixin respond-to tab {
      margin-top: 0;
      margin-bottom: 20px;

      @each $offset, $i in 0, 10, 5, 2, 13, 4, 18, 10, 6, 15, 3, 12 {
        &:nth-child($(i)n), {
          margin-left: $(offset)vw;
        }
      }
    }
  }

  video {
    width: 100%;
  }
}

.card-image {
  @mixin outline .2vw, $color-accent;
  font: 10rem $font-accent;
  color: #fff;
}

.card {
  @mixin respond-to tab {
    display: none;

    .portfolio.is__video &.is__videoproject {
      display: block;
    }

    .portfolio.is__photo &.is__imageproject {
      display: block;
    }
  }

  .video,
  .card-image {
    @mixin respond-to tab {
      display: none;
    }
  }
}

.card-title {
  display: none;
  font-size: 5vw;

  @mixin respond-to tab {
    display: block;
  }
}
