.contacts {
  position: relative;
  z-index: 1;
  margin: 0 -3.125%;
  padding: 5rem 0;
  box-sizing: content-box;

  @mixin respond-to tab {
    overflow: hidden;
    padding: 7.5rem 0 2rem;
  }

  @mixin respond-to mob {
    padding-top: 2rem;
  }
}

.contacts-scroller {
  position: relative;
  left: 0;
  display: flex;
  width: 300%;
  white-space: nowrap;

  @mixin respond-to tab {
    font-size: 1rem;
  }

  .contacts:hover & {
    animation-play-state: paused !important;

    @mixin respond-to tab {
      animation-play-state: running !important;
    }
  }

  &.is__desk {
    @mixin respond-to mob {
      display: none;
    }
  }

  &.is__mobile {
    display: none;

    @mixin respond-to mob {
      display: flex;
    }
  }
}

.contacts-scroller-in {
  display: flex;
  white-space: nowrap;

  .contacts-scroller:nth-child(4) & {
    margin-top: .5em;
    animation-duration: 35s;
    animation-direction: reverse;
  }

  .contacts-scroller:nth-child(5) & {
    margin-top: .5em;
    animation-duration: 40s;
  }

  .contacts-scroller:nth-child(6) & {
    margin-top: .5em;
    animation-duration: 45s;
  }
}

.contacts-holder {
  display: inline-flex;

  > * {
    flex: 0 1 auto;
    padding: 0 25px;

    @mixin respond-to tab {
      padding: 0 40px;
    }

    @mixin respond-to mob {
      padding: 0 25px;
    }
  }
}

@keyframes scroll {
 0% { transform: translateX(0); }
 100% { transform: translateX(-100%); }
}

.contact {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.contact-label {
  @mixin respond-to tab {
    opacity: 0;
  }
}

.contact-popup {
  position: absolute;
  bottom: 100%;
  display: none;
  margin-bottom: 50px;
  min-width: 120px;
  transform: translateX(-17%);

  @mixin respond-to tab {
    bottom: 0;
    display: block;
  }

  .contact:hover & {
    display: block;
  }
}

.contact-bubble {
  position: relative;
  z-index: 1;
  padding: .9em 1em;
  border: 3px solid #000;
  border-radius: 20px;
  font-size: 1rem;
  background: #fff;

  @mixin respond-to mob {
    font-size: .8rem;
  }

  &::before,
  &::after {
    position: absolute;
    top: 100%;
    left: 20%;
    border-width: 40px 40px 0 0;
    border-style: solid;
    border-color: #000 transparent;
    content: '';
  }

  &::after {
    margin-left: 3px;
    border-width: 33px 33px 0 0;
    border-color: #fff transparent;
  }
}

.contact-shadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  border-radius: 20px;
  background: $color-accent;
  transform: translate(10px, 10px);

  &::after {
    position: absolute;
    top: 100%;
    left: 20%;
    border-width: 40px 40px 0 0;
    border-style: solid;
    border-color: $color-accent transparent;
    content: '';
  }
}

.contact-phone {
  text-decoration: none;
  color: inherit;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.whatsapp{
  color: #e72c2e;
  .contact-label{
    opacity: 1 !important;
  }
}

