.fotorama {
  position: relative;

  @mixin respond-to tab {
    margin-right: 7rem;
    margin-left: 7rem;
  }

  @mixin respond-to mobh {
    margin-right: 5.5rem;
    margin-left: 5.5rem;
  }

  @mixin respond-to mobv {
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 2.5rem;
  }
}

.fotorama-clip {
  overflow: hidden;
}

.fotorama-shaft {
  display: flex;
  width: 10000%;
  transition: transform .2s;
}

.fotorama-item {
  width: 1%;

  img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 35rem;
  }
}

.fotorama-nav {
  position: absolute;
  top: 50%;
  margin-top: -2.5rem;
  width: 6.5rem;
  height: 6rem;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;

  @mixin respond-to tab {
    width: 5rem;
    height: 5rem;
  }

  @mixin respond-to mob {
    width: 3rem;
    height: 2rem;
  }

  @mixin respond-to mobv {
    top: auto;
    bottom: 0;
    margin-top: 1rem;
  }
  &.fotorama-nav {
    @mixin cursor pointer;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-image: url(../images/arrow-right-active.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    content: '';
  }

  &:hover::after {
    opacity: 1;
  }

  &.is__prev {
    right: 100%;
    margin-right: 2rem;
    transform: rotate(180deg);

    @mixin respond-to mobv {
      right: auto;
      left: 0;
    }
  }

  &.is__next {
    left: 100%;
    margin-left: 2rem;

    @mixin respond-to mobv {
      right: 0;
      left: auto;
    }
  }
}

.fotorama-image {
  padding-bottom: 66.6666%;
  background-position: center;
  background-size: cover;
}

.smart-shaft .fotorama__nav-wrap{
  display: none;
}

.smart-shaft .fotorama__arr.fotorama__arr--next{
  &:after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    content: '';
    width: 90px;
    height: 90px;
  };
    @mixin respond-to mob{
    &:after{
      width: 60px;
      height: 60px;
    };
  }
}

.smart-shaft .fotorama__arr.fotorama__arr--prev{
  &:after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    background-image: url(../images/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    content: '';
    transform: rotate(180deg);
    width: 90px;
    height: 90px;
  };
  @mixin respond-to mob{
    &:after{
      width: 60px;
      height: 60px;
    };
  }
}

.smart-shaft .fotorama__arr.fotorama__arr--prev:active,
.smart-shaft .fotorama__arr.fotorama__arr--prev:hover{
   &:after{
    background-image: url(../images/arrow-right-active.svg);
  };

}
.smart-shaft .fotorama__arr.fotorama__arr--next:active,
.smart-shaft .fotorama__arr.fotorama__arr--next:hover{
   &:after{
    background-image: url(../images/arrow-right-active.svg);
  };
}
.smart-shaft .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, 
.smart-shaft .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon,
.team-carousel .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, 
.team-carousel .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{
  opacity: 1;
}
.smart-shaft .fotorama__wrap--css3 .fotorama__arr:not(:focus), 
.smart-shaft .fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus), 
.smart-shaft .fotorama__wrap--css3 .fotorama__video-close:not(:focus), 
.smart-shaft .fotorama__wrap--css3 .fotorama__video-play:not(:focus),
.team-carousel .fotorama__wrap--css3 .fotorama__arr:not(:focus), 
.team-carousel .fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus), 
.team-carousel .fotorama__wrap--css3 .fotorama__video-close:not(:focus), 
.team-carousel .fotorama__wrap--css3 .fotorama__video-play:not(:focus){
    transition-property: -webkit-transform,opacity; 
    transition-property: transform,opacity; 
    transition-duration: .0s; 
}
.smart-shaft .fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus),
.team-carousel .fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus){
      -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
    
}
.smart-shaft .fotorama__arr--next{
  width: 90px;
  height: 90px;
  right: -100px;
  opacity: 1;
   @mixin respond-to mob{
    top: 105%;
    right: -5px;
    width: 60px;
    height: 60px;
   }
}
.smart-shaft .fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus),
.team-carousel .fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus){
    -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
    
}
.smart-shaft .fotorama__arr--prev{
  width: 90px;
  height: 90px;
  left: -105px;
  opacity: 1;
  @mixin respond-to mob{
    top: 105%;
    left: -5px;
    width: 60px;
    height: 60px;
   }
}
.smart-shaft .fotorama__arr,
.team-carousel .fotorama__arr{
  background: none;
}
.smart-shaft .fotorama__nav:before, .fotorama__stage:before{
  background-image: none;
}
.smart-shaft .fotorama__nav:after, .fotorama__stage:after{
    background-image: none;
}
.smart-shaft .fotorama,
.smart-shaft .fotorama__nav, 
.smart-shaft .fotorama__stage{
  overflow: initial;
}
.smart-shaft .fotorama__stage__shaft{
  overflow: hidden;
}
.smart-shaft .fotorama__active .fotorama__img{
  width: 100% !important;
  left: 0 !important;
}
.team-carousel .fotorama__stage{
  height: 0px !important;
}
.team-carousel .fotorama__stage__shaft{
  display: none;
}
.team-carousel .fotorama__arr{ 
  top: 160px;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 49px;
  height: 49px;
  &:active, &:hover{
    background-image: url(../images/arrow-right-active.svg);
  };
 }
.team-carousel .fotorama__arr--prev{
    left: 0px;
    transform: rotate(180deg) !important;
}
.team-carousel .fotorama__arr--next{
    right: 0px;
}
.team-carousel .fotorama__thumb-border{
    border-color: #ea2a25;
    background-image: none;
}
.team-carousel .fotorama__stage{
    overflow-y: hidden;
    overflow: visible;
    z-index: 9
}
.team-carousel.fotorama{
    overflow-y: hidden;
    overflow: visible;
}






