.info {
  @mixin cursor;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 1.5rem 1.5rem;
  width: 50rem;
  border: 3px solid #000;
  border-radius: 20px;
  opacity: 0;
  background: #fff;
  box-shadow: #000 10px 10px;
  pointer-events: none;
  transform: translateX(-10000px);

  @mixin respond-to tab {
    position: fixed;
    top: $padding;
    right: $padding;
    left: $padding;
    margin-top: -10px;
    margin-left: -10px;
    width: auto;
  }

  @mixin respond-to mob {
    position: static;
    margin: 0;
    padding: $padding;
    height: auto;
    border: 0;
    border-radius: 0;
    font-size: 1rem;
    box-shadow: none;
    overflow-x: hidden;
  }

  h2 {
    margin-bottom: 0;
  }

  .logo-dot:last-child & {
    top: -12vw;
    width: 40rem;

    @mixin respond-to tab {
      top: 3%;
    }

    @mixin respond-to mob {
      top: 0;
    }
  }

  .logo-dot.is__active &,
  &.is__static {
    opacity: 1;
    pointer-events: auto;
    transition: transform 0s, opacity $d;
    transform: translateZ(0);
  }

  .logo-dot & {
    @mixin respond-to mob {
      display: none !important;
    }
  }
}

.info-box {
  @mixin scrollbar;
  padding-right: 5rem;
  max-height: 50vh;
  text-transform: none;

  @mixin respond-to tab {
    padding-right: 30vw;
    padding-bottom: 40px;
    max-height: none;
    font-size: 1rem;

    h2 {
      font-size: 2.4rem;
    }
  }

  @mixin respond-to mob {
    overflow: visible;
    padding-right: 0;
    padding-bottom: 80px;

    h2 {
      font-size: 1.5rem;
    }
  }

  @mixin respond-to mobh {
    display: flex;
    flex-direction: row;
  }

  h2 {
    font-size: 3rem;
  }
}

.info-closer {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
  display: none;
  margin-top: 8px;
  width: 27vw;
  height: 27vw;

  @mixin respond-to tab {
    display: block;
  }

  @mixin respond-to mob {
    position: static;
    margin-bottom: 40px;
    width: 62px;
    height: 20px;
    background: url(../images/back.svg) no-repeat;
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    right: -20%;
    left: -20%;
    margin-top: -2px;
    height: 4px;
    background: $color-accent;
    content: '';

    @mixin respond-to mob {
      display: none;
    }
  }

  &::before {
    transform: rotateZ(45deg);
  }

  &::after {
    transform: rotateZ(-45deg);
  }
}

.info-box-col {
  margin-bottom: 3rem;

  @mixin respond-to mobh {
    flex: 1;
    margin-right: 3rem;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
