$logo-width: 60%;
$logo-proportion: 0.33333;
$logo-dot-proportion: 0.048;

.logoBox {
  width: $logo-width;
  min-width: 600px;

  @mixin respond-to tab {
    width: 80%;
  }

  @mixin respond-to mob {
    width: auto;
    min-width: 0;
  }
}

.logo-lead {
  margin: 0 0 1em;
  font-size: 1em;
  font-weight: normal;

  @mixin respond-to tab {
    font-size: 1rem;
  }
}

.logo-text {
  display: none;

  @mixin respond-to mob {
    display: block;
    font: 17vw/1 $font-logo;
    text-transform: lowercase;
  }

  @mixin respond-to mobh {
    font-size: 9vw;

    br:last-child {
      display: none;
    }
  }
}

.logo-main {
  position: relative;
  padding-bottom: calc($logo-proportion * 100%);
  text-transform: lowercase;
  background: url(../images/logo.svg) no-repeat 0 0 / auto 100%;

  @mixin respond-to mob {
    display: flex;
    margin-top: 20px;
    padding-bottom: 0;
    background: none;
  }
}

.logo-dot {
  @mixin cursor pointer;
  position: absolute;
  padding: 9px;
  width: calc(100% * $logo-dot-proportion);

  @mixin respond-to mob {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    margin-right: 1.5rem;
    padding: 0;
    width: 5rem;
  }

  @mixin respond-to mobh {
    width: 3rem;
  }

  &::after {
    display: block;
    padding-bottom: 100%;
    border-radius: 50%;
    background: #ea2a25;
    content: '';
  }

  &.is__active::after {
    animation-play-state: paused;
  }

  &.is__first {
    top: -4.5%;
    left: 31.2%;

    &::after { animation: bounce 1.1s infinite linear; }
  }

  &.is__second {
    top: 31%;
    left: 44.1%;

    &::after { animation: bounce .8s infinite linear; }
  }

  &.is__third {
    right: -1.4%;
    bottom: -2.5%;

    &::after { animation: bounce-high 1.3s infinite linear; }
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-100%);
  }

  60% {
    transform: translateY(-50%);
  }
}

@keyframes bounce-high {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-130%);
  }

  65% {
    transform: translateY(-50%);
  }
}

.logo-dot-link {
  display: none;

  @mixin respond-to mob {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
  }
}
