.mapWrapper {
  /*overflow-y: hidden;*/
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 50px 3% 50px;

  @media (max-width: 1024px){
    padding-bottom: 300px;
  }
/*   @media (max-width: 531px){
    padding-bottom: 400px;
  }*/
     @mixin respond-to mobv {
    padding-bottom: 300px;
  }
}

.map {
  position: relative;

  @mixin respond-to mobh {
    svg {
      width: 100%;
    }
  }
}

.map-river {
  &.is__back {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    animation: rotate 10s linear infinite;

    @mixin respond-to mobv {
      display: none;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.map-address {
  position: absolute;
  top: 20%;
  right: 20%;

  @media (max-width: 1024px){
    top: 100%;
    left: 20%;
  }
  @mixin respond-to mob {
    top: 100%;
    left: 15%;
  }

  @mixin respond-to mobh {
    top: 100%;
    left: 15%;
  }
}


.map-marker {
  width: 4.4vw;
  height: 6.5vw;
  background: url(../images/marker.svg) no-repeat;
  display: none;

  @mixin respond-to mob {
    width: 6.6vw;
    height: 10vw;
  }

  @mixin respond-to mobh {
    width: 2rem;
    height: 3rem;
  }
}

.map-popup {
  position: absolute;
  top: 100%;
  margin-top: 3vw;
  padding: .9em 1em;
  border: .2vw solid #000;
  border-radius: 2vw;
  font-size: 1rem;
  white-space: nowrap;
  background: #fff;
  box-shadow: $color-accent .5vw .5vw;
  transform: translateX(-3vw);


  @mixin respond-to mob {
    margin-top: 35px;
    border-width: 2px;
    font-size: .7rem;
    box-shadow: $color-accent 5px 5px;
    transform: translateX(-7px);

    &&::before {
      width: 30px;
      height: 30px;
    }
  }

  br.hidden {
    display: none;

    @mixin respond-to tab {
      display: block;
    }
  }

  &::before {
    position: absolute;
    bottom: 100%;
    left: 4.8vw;
    width: 3vw;
    height: 3vw;
    background: url(../images/bubble-arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: none;

    @mixin respond-to mob {
      left: 5vw;
      width: 8vw;
      height: 8vw;
    }

    @mixin respond-to mobh {
      left: 1.3rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
@media (min-width: 1441px){
  .map-popup {
    top: -89px;
    left: 60px;
  }
}

.man{
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); 
      opacity: 1; 
      left: 96px; 
      top: -10px; 
      width: 26px; 
      height: 50px; 
      position: absolute;
      z-index: 105; 
      animation-name: animation_3; 
      animation-duration: 4.5s; 
      animation-iteration-count: infinite; 
      animation-direction: normal; 
      animation-fill-mode: both; 
      animation-play-state: running;
}
@media only screen and (max-width: 531px){

}
.car{
  transform: translate3d(0px, 0px, 0px) rotate(0deg) scale(1); 
    transform-origin: center center;
    opacity: 1; 
    left: 0px; 
    top: 400px; 
    width: 43px; 
    height: 94px; 
    z-index: 103; 
    position: absolute;
    animation-name: animation_4; 
    animation-duration: 5.7s; 
    animation-iteration-count: infinite; 
    animation-direction: normal; 
    animation-fill-mode: both; 
    animation-play-state: running;
    img{
      opacity: 1; 
      width: 130px;
    }
}
@keyframes animation_3 {
        0% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); 
          opacity: 1; 
          animation-timing-function: linear}
        11.11111111111111% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-32,245,0,1); 
          opacity: 1; 
          animation-timing-function: linear}
        22.22222222222222% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-55,353,0,1); 
          opacity: 1; 
          animation-timing-function: linear}
        33.33333333333333% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-73,516,0,1); 
          opacity: 1; 
          animation-timing-function: linear}
        44.44444444444444% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,200,551,0,1); 
          opacity: 1; 
          animation-timing-function: linear}
        55.55555555555556% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,200,551,0,1); 
          /*transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,439,551,0,1); */
          opacity: 1; 
          animation-timing-function: linear}
        66.66666666666667% {
          /*transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,445,480,0,1);*/
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,439,551,0,1); 
          opacity: 1; 
          animation-timing-function: linear}
        77.77777777777779% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,485,390,0,1); 
          opacity: 1; 
          animation-timing-function: linear}
       88.8888888888889% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,525,400,0,1);  
          opacity: 1; 
          animation-timing-function: linear}
        100% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,535,340,0,1);  
          opacity: 1; }
      }

@keyframes animation_4 {
        0% {
          transform: translate3d(0px,0px,0) rotate(0deg) scale(1); 
          opacity: 1;
          animation-timing-function: linear}
        14.925373134328357% {
          transform: translate3d(24px,-142px,0) rotate(0deg) scale(1); 
          opacity: 1; 
          animation-timing-function: linear}
        19.402985074626862% {
          transform: translate3d(34px,-142px,0) rotate(10deg) scale(1); 

          opacity: 1; 
          animation-timing-function: linear}
        35.82089552238806% {
          transform: translate3d(90px,-406px,0) rotate(10deg) scale(1); 
          opacity: 1; 
          animation-timing-function: linear}
        55.223880597014926% {
          transform: translate3d(90px,-436px,0) rotate(95deg) scale(1); 
          opacity: 1; 
          animation-timing-function: linear}
        62.68656716417911% {
          transform: translate3d(658px,-331px,0) rotate(95deg) scale(1); 
          opacity: 1; 
          animation-timing-function: linear}
        70.1492537313433% {
          transform: translate3d(641px,-331px,0) rotate(209deg) scale(1); 
          opacity: 1; 
          animation-timing-function: linear}
        77.61194029850746% {
          transform: translate3d(641px,-300px,0) rotate(209deg) scale(1); 
          opacity: 1; 
          animation-timing-function: linear}
        85.07462686567165% {
          transform: translate3d(641px,-300px,0) rotate(195deg) scale(1);
          opacity: 1; 
          animation-timing-function: linear}
        92.53731343283582% {
          transform: translate3d(611px,-122px,0) rotate(195deg) scale(1);
          opacity: 1; 
          animation-timing-function: linear}
        100% {
          transform: translate3d(641px,-100px,0) rotate(103deg) scale(1); 
          opacity: 1; }
        }
.new-map-mob{
  display: none;
}
@media only screen and (max-width: 1024px){
  .mapWrapper{
    max-width: 798px;
  }
  .man{
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); 
      opacity: 1; 
      left: 80px; 
      top: 0; 
      width: 26px; 
      height: 50px; 
      position: absolute;
      z-index: 105; 
      animation-name: animation_5; 
      animation-duration: 4.5s; 
      animation-iteration-count: infinite; 
      animation-direction: normal; 
      animation-fill-mode: both; 
      animation-play-state: running;
  }
  @keyframes animation_5 {
        0% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); 
          opacity: 1; 
          animation-timing-function: linear}
        11.11111111111111% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-32,225,0,1); 
          opacity: 1; 
          animation-timing-function: linear}
        22.22222222222222% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-50,293,0,1); 
          opacity: 1; 
          animation-timing-function: linear}
        33.33333333333333% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-63,430,0,1); 
          opacity: 1; 
          animation-timing-function: linear}
        44.44444444444444% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,150,451,0,1); 
          opacity: 1; 
          animation-timing-function: linear}
        55.55555555555556% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,150,451,0,1);
          opacity: 1; 
          animation-timing-function: linear}
        66.66666666666667% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,375,450,0,1);
          opacity: 1; 
          animation-timing-function: linear}
        77.77777777777779% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,400,305,0,1);
          opacity: 1; 
          animation-timing-function: linear}
       88.8888888888889% {
          transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,445,315,0,1);  
          opacity: 1; 
          animation-timing-function: linear}
        100% {
         transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,450,300,0,1);   
          opacity: 1; }
  }
  .car{
    animation-name: animation_6; 
  }
  .car img{
    width: 90px;
  }
  @keyframes animation_6{
        0% {
          transform: translate3d(0px,0px,0) rotate(0deg) scale(1); 
          opacity: 1;
          animation-timing-function: linear}
        14.925373134328357% {
          transform: translate3d(24px,-142px,0) rotate(0deg) scale(1); 
          opacity: 1; 
          animation-timing-function: linear}
        19.402985074626862% {
          transform: translate3d(34px,-142px,0) rotate(10deg) scale(1); 

          opacity: 1; 
          animation-timing-function: linear}
        35.82089552238806% {
          transform: translate3d(90px,-406px,0) rotate(10deg) scale(1); 
          opacity: 1; 
          animation-timing-function: linear}
        55.223880597014926% {
          transform: translate3d(90px,-436px,0) rotate(95deg) scale(1); 
          opacity: 1; 
          animation-timing-function: linear}
        62.68656716417911% {
          transform: translate3d(558px,-331px,0) rotate(95deg) scale(1); 
          opacity: 1; 
          animation-timing-function: linear}
        70.1492537313433% {
          transform: translate3d(541px,-331px,0) rotate(209deg) scale(1); 
          opacity: 1; 
          animation-timing-function: linear}
        92.53731343283582% {
          transform: translate3d(511px,-160px,0) rotate(195deg) scale(1);
          opacity: 1; 
          animation-timing-function: linear}
        100% {
          transform: translate3d(511px,-160px,0) rotate(103deg) scale(1); 
          opacity: 1; }
        }
}
@media only screen and (max-width: 768px){
  .mapWrapper{
    max-width: 500px;
  }
    .new-map-mob{
    display: block;
  }
  .new-map{
    display: none;
  }
    .man{
      animation-name: animation_7; 
      left: 60px;
  }
@keyframes animation_7 {
  0% 
    {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 1; animation-timing-function: linear}
  24.242424242424246% 
    {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-50,239,0,1); opacity: 1; animation-timing-function: linear}
  48.48484848484849% 
    {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,210,265,0,1); opacity: 1; animation-timing-function: linear}
  84.84848484848486% 
    {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,235,170,0,1); opacity: 1; animation-timing-function: linear}
  100% 
    {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,265,170,0,1); opacity: 1; }
}

  .car{
    animation-name: animation_8; 
    animation-duration: 4s;
    top: 200px; 
    height: 40px;
  }
  @keyframes animation_8 {
  0% {transform: translate3d(0px,0px,0) rotate(0deg) scale(1); opacity: 1; animation-timing-function: linear}
  12.5% {transform: translate3d(-2px,-80px,0) rotate(0deg) scale(1); opacity: 1; animation-timing-function: linear}
  25% {transform: translate3d(13px,-93px,0) rotate(14deg) scale(1); opacity: 1; animation-timing-function: linear}
  37.5% {transform: translate3d(33px,-213px,0) rotate(14deg) scale(1); opacity: 1; animation-timing-function: linear}
  50% {transform: translate3d(35px,-203px,0) rotate(95deg) scale(1); opacity: 1; animation-timing-function: linear}
  62.5% {transform: translate3d(313px,-153px,0) rotate(95deg) scale(1); opacity: 1; animation-timing-function: linear}
  75% {transform: translate3d(313px,-153px,0) rotate(183deg) scale(1); opacity: 1; animation-timing-function: linear}
  87.5% {transform: translate3d(293px,-43px,0) rotate(183deg) scale(1); opacity: 1; animation-timing-function: linear}
  100% {transform: translate3d(313px,-43px,0) rotate(103deg) scale(1); opacity: 1; }
}

}
@media only screen and (max-width: 531px){
  .mapWrapper{
    max-width: 300px;
  }
  .man{
      animation-name: animation_9; 
      left: 20px;
  }
  @keyframes animation_9 {
    0% 
      {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1); opacity: 1; animation-timing-function: linear}
    24.242424242424246% 
     {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,-20,130,0,1); opacity: 1; animation-timing-function: linear}
    48.48484848484849% 
      {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,140,146,0,1); opacity: 1; animation-timing-function: linear}
    84.84848484848486% 
     {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,160,91,0,1); opacity: 1; animation-timing-function: linear}
    100% 
      {transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,180,91,0,1); opacity: 1; }
  }

  .car{
    animation-name: animation_10; 
    top: 100px; 
  }
  .car img{
    width: 60px;
  }
  @keyframes animation_10{
    0% {transform: translate3d(0px,0px,0) rotate(0deg) scale(1); opacity: 1; animation-timing-function: linear}
    12.5% {transform: translate3d(-2px,-30px,0) rotate(0deg) scale(1); opacity: 1; animation-timing-function: linear}
    25% {transform: translate3d(6px,-33px,0) rotate(14deg) scale(1); opacity: 1; animation-timing-function: linear}
    37.5% {transform: translate3d(10px,-113px,0) rotate(14deg) scale(1); opacity: 1; animation-timing-function: linear}
    50% {transform: translate3d(15px,-113px,0) rotate(95deg) scale(1); opacity: 1; animation-timing-function: linear}
    62.5% {transform: translate3d(193px,-75px,0) rotate(95deg) scale(1); opacity: 1; animation-timing-function: linear}
    75% {transform: translate3d(193px,-73px,0) rotate(183deg) scale(1); opacity: 1; animation-timing-function: linear}
    87.5% {transform: translate3d(183px,-23px,0) rotate(183deg) scale(1); opacity: 1; animation-timing-function: linear}
    100% {transform: translate3d(183px,-18px,0) rotate(103deg) scale(1); opacity: 1; }
}
}