.portfolioSingle {
  position: fixed;
  right: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 0 4.5rem;
  height: 38vh;
  font-size: 1.5rem;
  overflow-y: auto;

  @mixin respond-to tab {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    padding-top: 5vh;
    min-height: 100vh;
    font-size: 1rem;
    background: #fff;

    .back {
      position: fixed;
      display: block;
      z-index: 10;
      top: 20px;
      left: 20px; 
    }
  }

  @mixin respond-to mobh {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 9vw;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 1.2rem;
  }

  .back {
    display: none;
  }

  &.is__photo {
    top: 0;

    .portfolioBox.is__photo & {
      display: flex;
    }
  }

  &.is__video {
    bottom: 0;

    .portfolioBox.is__video & {
      display: flex;
    }
  }
}

.portfolioSingle-item {
  position: absolute;
  display: block;
  margin: 0 auto 40px;
  text-decoration: none;

  @mixin respond-to tab {
    @each $time, $i in 75, 88, 60, 45, 80, 59, 90, 60, 76, 73, 80, 68 {
      &:nth-child($(i)n) {
        animation: shake calc($time / 50s) linear infinite;
      }
    }
  }

  @mixin respond-to tab {
    position: static;
    text-align: center;

    @each $width, $i in 75, 88, 60, 45, 80, 59, 90, 60, 76, 73, 80, 68 {
      &:nth-child($(i)n) {
        width: $(width)vw;
      }
    }
  }

  @mixin respond-to mobh {
    margin: 0;
    padding-right: 20px;
    width: 50%;
    text-align: left;
  }

  .portfolioSingle.is__photo & {
    &:nth-child(12n + 1) {
      bottom: 3vh;
      left: 3vw;
    }

    &:nth-child(12n + 2) {
      bottom: 8vh;
      left: 25vw;
    }

    &:nth-child(12n + 3) {
      right: 3vw;
      bottom: 13vh;
    }

    &:nth-child(12n + 4) {
      bottom: 20vh;
      left: 10vw;
    }

    &:nth-child(12n + 5) {
      right: 5vw;
      bottom: 25vh;
      width: 60vw;
    }

    &:nth-child(12n + 6) {
      bottom: 1rem;
      left: 1rem;
    }

    &:nth-child(12n + 7) {
      bottom: 1rem;
      left: 1rem;
    }

    &:nth-child(12n + 8) {
      bottom: 1rem;
      left: 1rem;
    }

    &:nth-child(12n + 9) {
      bottom: 1rem;
      left: 1rem;
    }

    &:nth-child(12n + 10) {
      bottom: 1rem;
      left: 1rem;
    }

    &:nth-child(12n + 11) {
      bottom: 1rem;
      left: 1rem;
    }

    &:nth-child(12n) {
      bottom: 1rem;
      left: 1rem;
    }
  }

  .portfolioSingle.is__video & {
    &:nth-child(12n + 1) {
      top: 7vh;
      left: 5vw;
    }

    &:nth-child(12n + 2) {
      top: 14vh;
      left: 3vw;
    }

    &:nth-child(12n + 3) {
      top: 8vh;
      right: 10vw;
    }

    &:nth-child(12n + 4) {
      top: 20vh;
      left: 10vw;
    }

    &:nth-child(12n + 5) {
      top: 25vh;
      left: 30vw;
    }

    &:nth-child(12n + 6) {
      top: 1rem;
      left: 1rem;
    }

    &:nth-child(12n + 7) {
      top: 1rem;
      left: 1rem;
    }

    &:nth-child(12n + 8) {
      top: 1rem;
      left: 1rem;
    }

    &:nth-child(12n + 9) {
      top: 1rem;
      left: 1rem;
    }

    &:nth-child(12n + 10) {
      top: 1rem;
      left: 1rem;
    }

    &:nth-child(12n + 11) {
      top: 1rem;
      left: 1rem;
    }

    &:nth-child(12n) {
      top: 1rem;
      left: 1rem;
    }
  }

  .portfolioSingle.is__video {
    @each $offset, $i in 0, 10, 5, 2, 13, 4, 18, 10, 6, 15, 3, 12 {
      &:nth-child($(i)n), {
        margin-left: $(offset)vw;
      }
    }
  }

  .portfolioSingle.is__photo & {
    color: #000;
  }

  .portfolioSingle.is__video & {
    color: $color-accent;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 1px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, -1px, 0);
  }
}
