.portfolio {
  transition: filter $d, opacity $d;
  transform: translateZ(0);

  @mixin respond-to tab {
    display: none;

    &.is__photo,
    &.is__video {
      .back {
        display: block;
      }
    }

    body.is__faded & {
      display: none;
    }
  }

  body.is__faded & {
    opacity: .5;
    pointer-events: none;
    filter: blur(10px);
  }

  .back {
    position: absolute;
    bottom: 100%;
    display: none;
  }
}
