.portfolioSelector {
  position: fixed;
  top: 10vw;
  right: 0;
  bottom: 10vw;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @mixin respond-to tab {
    display: flex;
  }

  .portfolio.is__hiddenSelector + & {
    display: none;
  }
}

.portfolioSelector-item {
  font: 6rem $font-accent;
  text-decoration: none;
  color: #fff;
  pointer-events: none;

  @mixin respond-to tab {
    pointer-events: auto;
  }

  @mixin respond-to mob {
    font-size: 3.8rem;
  }

  &.is__photo {
    @mixin outline 2px, #000;
  }

  &.is__video {
    @mixin outline 2px, $color-accent;
  }
}

.portfolioSelector-divider {
  margin: .7rem 0;
  width: 21rem;
  height: .4rem;
  background: #000;

  @mixin respond-to mob {
    margin: 1rem 0;
    width: 13rem;
    height: .25rem;
    min-height: .25rem;
  }
}
