
.portfolioLinkBox {
  margin-top: 1rem;
  text-align: right;

  @mixin respond-to mob {
    margin-top: 20px;
  }

  @mixin respond-to mobh {
    margin-top: -2rem;
  }
}

.portfolioLink {
  display: inline-block;
  width: 60%;

  @mixin respond-to tab {
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      margin-left: -15%;
      width: 30%;
      height: 100%;
      background: url(../images/hand.svg) no-repeat 0 0 / contain;
      animation: point 2s linear infinite;
    }
  }

  @mixin respond-to mob {
    width: 90%;
  }

  @mixin respond-to mobh {
    margin-right: 10%;
    width: 60%;

    &::before {
      top: 0;
      right: -12%;
      left: auto;
      margin-top: -22%;
      width: 20%;
      height: 100%;
      background-position: 50%;
      animation: point-y 2s linear infinite;
    }
  }
}

@keyframes point {
  0%, 100% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(20%) rotate(10deg);
  }
}

@keyframes point-y {
  0%, 100% {
    transform: translatey(0%) rotate(-20deg) scale(-1, 1);
  }

  50% {
    transform: translateY(17%) rotate(-30deg) scale(-1, 1);
  }
}

.portfolioLink-link {
  display: block;
  padding-bottom: 42.7%;
  background: url(../images/portfolio.svg) no-repeat center / contain;
}
