.project {
  @mixin cursor cross;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  display: none;

  @mixin respond-to tab {
    background: #fff;
  }

  &.is__opened {
    display: block;
  }

  .back {
    display: none;

    @mixin respond-to tab {
      display: block;
      margin-bottom: 5vw;
    }
  }
}

.project-title {
  margin-top: 0;
  margin-bottom: .5em;
  font-family: $font-alt;
  font-size: 3em;

  @mixin respond-to tab {
    font-size: 1.8em;
  }

  @mixin respond-to tabh {
    font-size: 2.5em;
  }

  @mixin respond-to mob {
    font-size: 1em;
  }
}

.project-media {
  margin: 2rem 0 3rem;

  @mixin respond-to tab {
    margin: 1rem 0 1.5rem;
  }
}

.project-content {
  @mixin scrollbar;
  position: absolute;
  top: 5rem;
  left: 0;
  overflow: auto;
  padding: 0 10rem 0 0;
  padding-left: 9rem;
  width: 75rem;
  max-height: calc(100vh - 10rem);

  @mixin respond-to tab {
    top: 0;
    left: 0;
    padding: 40px;
    padding-bottom: 80px;
    width: 100%;
    max-height: 100vh;
  }

  * {
    @mixin cursor;
  }
}

.project-video {
  max-width: 100%;
}

.project-description {
  width: 66%;

  @mixin respond-to tab {
    width: 60%;
    font-size: 1rem;
  }

  @mixin respond-to mob {
    width: auto;
    font-size: 1rem;
  }
}

.project-title,
.project-media,
.project-description {
  @mixin respond-to tab {
    margin-left: 0 !important;
  }
}
