$scan-distance: 6px;
$scan-distance-far: 6px;

.scan {
  position: relative;
}

.scan-clone {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: $d;

  @mixin respond-to tab {
    @for $i from 1 to 5 {
      &:nth-child($i) {
        animation: scan-$(i) 1s infinite linear alternate;
      }
    }
  }

  .scan:hover & {
    @for $i from 1 to 5 {
      &:nth-child($i) { transform: translate(calc($scan-distance * -$i), calc($scan-distance * -$i)); }
    }

    opacity: 1;

    @mixin respond-to tab {
      transform: none !important;
    }
  }

  .scan.is__far:hover & {
    @for $i from 1 to 5 {
      &:nth-child($i) { transform: translate(calc($scan-distance-far * -$i), calc($scan-distance-far * -$i)); }
    }
  }
}

@for $i from 1 to 5 {
  @keyframes scan-$(i) {
   0% { opacity: 1; transform: translate(0); }
   100% { opacity: 1;  transform: translate(calc($scan-distance * -$i), calc($scan-distance * -$i)); }
  }

  @keyframes scan-far-$(i) {
   0% { opacity: 1;  transform: translate(0); }
   100% { opacity: 1;  transform: translate(calc($scan-distance-far * -$i), calc($scan-distance-far * -$i)); }
  }
}
